.leftMenu{
    -fx-background-color: #280000;
}

.GoBackButton{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
 }

.GoBackButton:hover{
    -fx-cursor: hand;
    -fx-background-color: #520000;
    -fx-background-radius: 15 15 15 15;
 }

 .header{
    -fx-background-color: #280000;
 }

 .Circle{
    -fx-fill: #345830;
    -fx-stroke: #345830;
    -fx-stroke-type: inside;
 }

 .centerPanes{
    -fx-background-color: #F7EDDA; /*EEEBD3 old*/
 }

 .centerPaneButtons{
    -fx-color: #345830;
    -fx-font-family: sans-serif;
    /*-fx-text-fill: #0A090C;*/
    -fx-border-width: 1px;
    -fx-border-color: #A7CCA3;
    -fx-background-radius: 15 15 15 15;
    -fx-border-radius: 15 15 15 15;
    -fx-font-size: 12;
    -fx-alignment: center;
    -fx-text-fill: #D0D4DC;
    -fx-font-weight: bold;
 }

 .centerPaneButtons:hover{
      -fx-color: #75AF6E;
      -fx-cursor: hand;
      -fx-font-size: 14;
      -fx-font-style: italic;
      -fx-font-weight: bold;
      -fx-text-fill: #0A090C;
  }

 centerPaneButtons:focused{
     -fx-faint-focus-color: transparent;
     -fx-focus-color: #345830;
}

  .label{
    -fx-font-weight: bold;
    -fx-font-size: 18;
  }

.leftMenuButton{
    -fx-color: #FCC99C;
    /*-fx-shape:"M 100 300 L 100 200 L 300 200 L 400 250 L 300 300 L 100 300";*/
    -fx-shape: "M 0 400 L 0 100 L 450 100 L 700 200 Q 750 250 700 300 L 450 400 L 0 400 ";
    -fx-font-family: sans-serif;
    -fx-text-fill: #23272F;
    -fx-font-weight: bold;
    -fx-border-width: 1px;
    -fx-border-color: #FFECDB;
    -fx-font-size: 14;
    -fx-alignment: center-left;
}

.leftMenuButton:hover{
    -fx-color: #FDD4AF;
    -fx-cursor: hand;
    -fx-text-fill: #23272F;
    -fx-border-color: #FFDEC2;
}

.combo{
    -fx-background-color: #A7CCA3;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.combo .list-cell{
    -fx-background-color: #A7CCA3;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.combo .list-cell:hover{
    -fx-background-color: #345830;
    -fx-font-weight: bold;
}

.combo .list-cell:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #A7CCA3;
    -fx-font-weight: bold;
}

.notificationsButton{
    -fx-color: #FCC99C;
    -fx-font-family: sans-serif;
    -fx-text-fill: #23272F;
    -fx-font-style: italic;
    -fx-border-width: 1px;
    -fx-border-color: #FFECDB;
    -fx-font-size: 11;
    -fx-alignment: center-left;
}

.notificationsButton:hover{
    -fx-color: #FDD4AF;
    -fx-cursor: hand;
    -fx-text-fill: #23272F;
    -fx-border-color: #FFDEC2;
}

.notificationButton:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #FCC99C;
}

.frontLabel{
    -fx-font-size: 36;
}